
/* ----------------------------- */
/* Tif - Commitments CSS      */
/* ----------------------------- */

.tif-commitments .tif-boxed {
  @if( $has-tif-path == 'false' ){
	max-width: $tif-commitments-boxed-width;
  }
}
.tif-commitments .tif-featured-area {
	gap: $tif-commitments-gap;
}
.tif-commitments .tif-featured-title,
.tif-commitments .tif-featured-sub-title {
	padding: 0 $tif-commitments-padding;
}
.tif-commitments .tif-featured-area .featured,
.tif-commitments .tif-featured-area .featured-description {
	padding: $tif-commitments-padding;
}
.tif-commitments .tif-featured-area .entry-thumbnail {
	max-width: $tif-commitments-thumb-width;
}
.tif-commitments .tif-featured-area .entry-thumbnail div {
	border-radius: $tif-commitments-thumb-rounded;
}
